
## Team Essentials ##
#####################
.vscode/settings.json
.vscode/team-essentials/state.json
.vscode/

## Custom
Docs/
Scripts/Backup.ahk
Scripts/HotstringsSecret.ahk
Scripts/Secret.ahk
ScreenToGif/
